<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kerwin.apps.cms.dao.extend.ArticleExtendMapper">


    <resultMap id="BaseResultMap" type="com.kerwin.apps.cms.bean.extend.ArticleExtend"
               extends="com.kerwin.apps.cms.dao.ArticleMapper.BaseResultMap">

        <association property="category"
                     column="category_id"
                     select="com.kerwin.apps.cms.dao.CategoryMapper.selectByPrimaryKey"/>

        <collection
                property="comments"
                column="id"
                select="com.kerwin.apps.cms.dao.extend.CommentExtendMapper.selectByArticleId"/>

    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from cms_article
    </select>

    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        select * from cms_article
        where id = #{id,jdbcType=BIGINT}
    </select>

</mapper>